.input-form{
    /* margin-left: 80px; */
    width: 60%;
    padding: 90px 0 40px 90px;
}
.proposal-form{
    display: flex;
    flex-direction: column;
    gap:40px
}
.proposal-form h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.proposal-form h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-val{
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px #00000040;
    color: #000000B2;
    font-weight: 400;
    padding: 15px 22px;
    border: none;
    font-size: 18px;
    width: 100%;
    resize: none;
    outline: none;
    overflow: hidden;
}
.form-val-4{
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px #00000040;
    color: #000000B2;
    font-weight: 400;
    padding: 8px 17px;
    border: none;
    font-size: 18px;
    width: 140px;
}
.form-val-5{
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px #00000040;
    color: #000000B2;
    font-weight: 400;
    padding: 15px 17px;
    border: none;
    font-size: 18px;
    width: 140px;
    text-align: center;
}

.butcont-applyjob{
    margin-top:30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.save-button{
    width: 200px;
    height:40px;
    border-radius: 16px;
    color: white;
    background-color: #b27ee3;
    border: none;
}

.cancel-button{
    width: 200px;
    height:40px;
    border-radius: 16px;
    background-color: white;
    color: #b27ee3;
    border: 1px solid #b27ee3;
}

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
   }
   li {
    padding: 8px 12px;
   }
   
   li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
   }

   @media only screen and (max-width:1000px){
    .input-form{
        /* margin-left: 80px; */
        width:100%;
        padding: 60px 60px;
    }
   }
   @media only screen and (max-width:650px){
    .input-form{
        padding: 40px 30px;
    }
    .proposal-form{
        gap:25px
    }
    .proposal-form h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .proposal-form h4{
        font-size: 16px;
    }
    .form-val{
        width: 80%;
        padding: 11px 20px;
        font-size: 16px;
    }
    .form-val-4{
        width: 120px;
        padding: 2px 12px;
        font-size: 16px;
    }
    .form-val-5{
        width: 100px;
        padding: 11px 12px;
        font-size: 16px;
    }
    
    .bud-form{
        gap: 10px !important;
    }
    .proposaldesc{
        width: 100% !important;
    }
   }